.counter {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;

  color: lightseagreen;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: 1px solid lightseagreen;
  color: inherit;
  background-color: white;
  cursor: pointer;
}