.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
  width: 1200px;
  color: rgb(34, 74, 119);
  background-color: lightblue;
}

.navigation {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

.imagesRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}
